body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('plant-background.jpg'); /* Change 'plant-background.jpg' to your actual image file */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
}

.file-input {
    display: none;
}

.file-label {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #0056b3;
}
.image{
    background-image: url('plant.jpg');
    background-size: cover;
    height:100vh;

}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }